.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0d8d8;
  color: #252020;
  height: 40px;
}

.header-brand {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.header-buttons {
  margin-right: 10px;
}

.link-button {
  display: inline-block;
  width: 50px;
}
