.news-alert-main {
  background-color: aliceblue;
}

.news-alert-header {
  background-color: burlywood;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  font-weight: 500;
}

.news-ui {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.news-li {
  margin-bottom: 12px;
}

.news-title {
  font-style: italic;
  font-weight: 400;
  background-color: #e8e2e2;
  padding-left: 5px;
}

.news-desc {
  padding-left: 5px;
}
